{% extends 'base.html' %}

{% block content%}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'expenses' %}" class="breadcrumb-item">Expenses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
    </ol>
  </nav>

  
  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-expenses'%}" method="post">
        {% include 'partials/_messages.html'%}
        {% csrf_token %}
        <div class="form-group">
            <label for="Name">Name</label>
            <select class="form-control" name="name">
              {% for party in parties%}
                <option name="name" value="{{party.name}}#{{party.area}}">{{party.name}} , {{party.area}}</option>
              {% endfor %}
            </select>
          </div>
        <div class="form-group">
          <label for="Amount">Amount</label>
          <input type="number" name="amount" class="form-control form-control-sm" value="{{values.amount}}"/>
        </div>
        <div class="form-group">
          <label for="Purpose">Purpose</label>
          <input type="text" name="purpose" class="form-control form-control-sm" value="{{values.purpose}}"/>
        </div>
        <div class="form-group">
          <label for="Date">Date</label>
          <input type="date" name="expense_date" class=" form-controlform-control-sm" />
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

{% endblock content%}
